.hidden {
  display: none;
}

.section-header {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  margin: auto;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px #eee;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
