<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  <h2>{{ projectId ? 'Actualizar proyecto' : 'Crear proyecto'}}</h2>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput formControlName="titulo" autofocus />

    @if ((get('titulo')?.hasError('required') ||
    get('titulo')?.hasError('whitespace')) && get('titulo')?.touched) {
    <mat-error>Titulo es requerido</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" autofocus />

    @if ((get('descripcion')?.hasError('required') ||
    get('descripcion')?.hasError('whitespace')) && get('descripcion')?.touched)
    {
    <mat-error>Descripción es requerido</mat-error>
    }
  </mat-form-field>

  <div class="buttons-container">
    <button
      matButton="text"
      [routerLink]="['/projects']"
      class="button-radius"
    >
      volver
    </button>

    <button
      matButton="filled"
      type="submit"
      [disabled]="!formGroup.valid ? true: false"
      class="button-radius"
    >
      {{ projectId ? 'Actualizar' : 'Crear'}}
    </button>
  </div>
</form>
