<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  <h2>{{ taskId ? 'Actualizar tarea' : 'Crear tarea'}}</h2>
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput formControlName="titulo" autofocus />

    @if ((get('titulo')?.hasError('required') ||
    get('titulo')?.hasError('whitespace')) && get('titulo')?.touched) {
    <mat-error>Titulo es requerido</mat-error>
    }
  </mat-form-field>

  <mat-checkbox
    [checked]="get('estado')?.value === 'completada'"
    (change)="onCheckboxChange('completada')"
    value="completada"
  >
    Completada
  </mat-checkbox>

  <mat-checkbox
    [checked]="get('estado')?.value === 'no completada'"
    (change)="onCheckboxChange('no completada')"
  >
    No completada
  </mat-checkbox>

  @if (get('estado')?.hasError('invalidStatus')) {
  <mat-error style="margin-left: 10px">Estado es no valido</mat-error>
  }

  <div class="buttons-container">
    <button
      matButton="text"
      [routerLink]="['/projects',  projectId, 'tasks']"
      class="button-radius"
    >
      volver
    </button>

    <button
      matButton="filled"
      type="submit"
      [disabled]="!formGroup.valid ? true: false"
      class="button-radius"
    >
      {{ taskId ? 'Actualizar' : 'Crear'}}
    </button>
  </div>
</form>
