<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Bienvenido a Projects and Tasks</h2>
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input
      matInput
      placeholder="default: admin"
      formControlName="username"
      autofocus
    />
    @if (get('username')?.hasError('required') && get('username')?.touched) {
    <mat-error>Username is required</mat-error>
    } @if(get('username')?.hasError('minlength') && get('username')?.touched){
    <mat-error>MinLength is 3</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="default: admin123"
    />

    @if (get('password')?.hasError('required') && get('password')?.touched) {
    <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <button type="submit" matButton="tonal">Iniciar sesión</button>
</form>
